Source: multiblend
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Section: x11
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),libjpeg62-turbo-dev, libpng-dev, libtiff-dev

Package: multiblend
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: multi-level image blender for the seamless blending of panoramic images
 Multiblend is a multi-level image blender for the seamless blending of 
 panoramic images, such as those created with PTAssembler (my personal
 favourite), Hugin, or PTGui. It is a significantly faster drop-in alternative
 to Enblend, although it lacks Enblend's advanced features. 
